<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<!--cfdump var="#APPLICATION#"-->
 <cfset APPLICATION.wssettings.version.publish = "1" />

<cfscript> 
	
	orderIDmerch="te5";

    directAuthReq = structNew();      // uncommment for production 
    directAuthReq = createObject("component", "local.servicesAPI.Lekkapay.DirectAuthorizationRequest");   // only for testing
    
    
    directAuthReq.MID = "10120002"; 
    directAuthReq.password = "b822bb93905"; 
	 directAuthReq.orderID = orderIDmerch;	 
	 directAuthReq.customerIP = "127.0.0.1";  // should be a actual IP
	 directAuthReq.amount = "12398.76";  // currency codes in ISO 4217
	 directAuthReq.currency = "USD";  // currency codes in ISO 4217
	 directAuthReq.cardHolderName = "John Doe";
	 directAuthReq.cardHolderAddress = "406 Parkway House";
	 directAuthReq.cardHolderZipcode = "SW14 8LS";
	 directAuthReq.cardHolderCity = "London";
	 directAuthReq.cardHolderState = "N/A";
	 directAuthReq.cardHolderCountryCode = "UK";  // country code in ISO 3166-1
	 directAuthReq.cardHolderPhone = "987654321";
	 directAuthReq.cardHolderEmail = "a@sd.com";
//	 directAuthReq.cardNumber = "577095400407321";
	 directAuthReq.cardNumber = "5123450000000008";  // "5123450000000008";   //  "4012000033330026";
	 directAuthReq.cardSecurityCode = "100";
	 directAuthReq.cardExpireMonth = "05";
	 directAuthReq.cardExpireYear = "22";
	 directAuthReq.AVSPolicy = "";
	 directAuthReq.FSPolicy = "";
	 directAuthReq.Secure3DAcsMessage = "";
	 directAuthReq.secure3DCheckTransactionID = "";
	 directAuthReq.userVar1 = "";
	 directAuthReq.userVar2 = "";
	 directAuthReq.userVar3 = "";
	 directAuthReq.userVar4 = "";	 
   directAuthReq.csid = "";	 
   writedump (directAuthReq);   
try {
 	   ws = createObject("webservice", "http://localhost/securepayform/servicesAPI/Lekkapay/Transact.cfc?wsdl"); 
      transactObj = createObject("component", "local.servicesAPI.Lekkapay.Transact"); 
   writeoutput("Transact obj:");  
   writedump(transactObj);
   
   writedump(ws);

   writeoutput("b4 done pay");  // only for testing to see outputs & dumps
//    resp = ws.saleTransaction(directAuthReq);   //uncomment for production
    resp = transactObj.saleTransaction(directAuthReq); 
   writeoutput("done pay");
   writedump(resp);

} 
catch (any excpt) {
	writeoutput("An unrecoverable error has occured connecting to bank." & excpt.message & "." & excpt.detail);
	};

 
</cfscript>  
 
<!--- Output the returned values. ---> 
<cfoutput>
<cfdump var="#resp#">

	<cfset transID = resp.TransactionID>
	<cfset time = resp.time>
	<cfset status = resp.Status>
	<cfset errMsg = resp.Errormessage>
	<cfset errCode = resp.Errorcode>
	<cfset info = resp.Information>
	<cfset bank = resp.issuerBank>
   time: #time#<br />
   transactionID: #transID#<br />
   status: #status#<br />
   errorMessage: #errMsg#<br />
   errorCode: #errCode#<br>
   information: #info#<br>
   issuer bank: #bank#<br>

      </cfoutput>


</body>
</html>